<div class="items-center bg-black flex w-full flex-col pt-12 px-5 max-md:max-w-full">
  <header>
    <div class="flex w-full max-w-[1305px] justify-between gap-5 max-md:max-w-full max-md:flex-wrap">
      <div class="items-stretch flex-grow flex-col max-md:max-w-full">
        <div class="flex items-stretch justify-between gap-5 max-md:max-w-full max-md:flex-wrap">
          <img loading="lazy" srcset="https://cdn.builder.io/api/v1/image/assets/TEMP/b61780ee-62f2-40d5-8ea0-3e7c8597a4ff?apiKey=e9239000d05a43d9bc982e742a020b90&width=100 100w, https://cdn.builder.io/api/v1/image/assets/TEMP/b61780ee-62f2-40d5-8ea0-3e7c8597a4ff?apiKey=e9239000d05a43d9bc982e742a020b90&width=200 200w, https://cdn.builder.io/api/v1/image/assets/TEMP/b61780ee-62f2-40d5-8ea0-3e7c8597a4ff?apiKey=e9239000d05a43d9bc982e742a020b90&width=400 400w, https://cdn.builder.io/api/v1/image/assets/TEMP/b61780ee-62f2-40d5-8ea0-3e7c8597a4ff?apiKey=e9239000d05a43d9bc982e742a020b90&width=800 800w, https://cdn.builder.io/api/v1/image/assets/TEMP/b61780ee-62f2-40d5-8ea0-3e7c8597a4ff?apiKey=e9239000d05a43d9bc982e742a020b90&width=1200 1200w, https://cdn.builder.io/api/v1/image/assets/TEMP/b61780ee-62f2-40d5-8ea0-3e7c8597a4ff?apiKey=e9239000d05a43d9bc982e742a020b90&width=1600 1600w, https://cdn.builder.io/api/v1/image/assets/TEMP/b61780ee-62f2-40d5-8ea0-3e7c8597a4ff?apiKey=e9239000d05a43d9bc982e742a020b90&width=2000 2000w, https://cdn.builder.io/api/v1/image/assets/TEMP/b61780ee-62f2-40d5-8ea0-3e7c8597a4ff?apiKey=e9239000d05a43d9bc982e742a020b90&"class="aspect-square object-contain object-center w-[82px] overflow-hidden shrink-0 max-w-full" />
          <h1 class="text-white text-4xl font-medium leading-10 mt-2 self-start max-md:max-w-full">Міністерство у справах ветеранів України</h1>
        </div>
        <address class="text-white text-2xl leading-7 whitespace-nowrap mt-8 max-md:max-w-full">01001, м. Київ, пров. Музейний, 12</address>
      </div>
      <div class="items-stretch self-stretch flex flex-col">
        <h2 class="text-white text-3xl leading-8 whitespace-nowrap">Контакти</h2>
        <div class="items-stretch flex justify-between gap-5 mt-4 max-md:justify-center">
          <a href="https://cdn.builder.io/api/v1/image/assets/TEMP/915f189d-e0a4-4108-a461-5a9c6c061b09?apiKey=e9239000d05a43d9bc982e742a020b90" class="aspect-square object-contain object-center w-9 overflow-hidden shrink-0 max-w-full">
            <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/915f189d-e0a4-4108-a461-5a9c6c061b09?apiKey=e9239000d05a43d9bc982e742a020b90&" alt="Image 1" />
          </a>
          <a href="https://cdn.builder.io/api/v1/image/assets/TEMP/c69ff77f-a8d1-4a28-96ba-b13d6a73a18b?apiKey=e9239000d05a43d9bc982e742a020b90" class="aspect-square object-contain object-center w-9 overflow-hidden shrink-0 max-w-full">
            <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/c69ff77f-a8d1-4a28-96ba-b13d6a73a18b?apiKey=e9239000d05a43d9bc982e742a020b90&" alt="Image 2" />
          </a>
          <a href="https://cdn.builder.io/api/v1/image/assets/TEMP/6b046e33-bf32-4aec-8361-9a6ed167657d?apiKey=e9239000d05a43d9bc982e742a020b90" class="aspect-square object-contain object-center w-9 overflow-hidden shrink-0 max-w-full">
            <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/6b046e33-bf32-4aec-8361-9a6ed167657d?apiKey=e9239000d05a43d9bc982e742a020b90&" alt="Image 3" />
          </a>
          <a href="https://cdn.builder.io/api/v1/image/assets/TEMP/8b118aad-f863-4d3d-bfa3-50675850ef55?apiKey=e9239000d05a43d9bc982e742a020b90" class="aspect-square object-contain object-center w-9 overflow-hidden shrink-0 max-w-full">
            <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/8b118aad-f863-4d3d-bfa3-50675850ef55?apiKey=e9239000d05a43d9bc982e742a020b90&" alt="Image 4" />
          </a>
        </div>
        <div class="text-stone-200 text-base leading-6 tracking-tight whitespace-nowrap mt-5">Електронна пошта</div>
        <a href="mailto:control@mva.gov.ua" class="text-white text-2xl leading-7 whitespace-nowrap">control@mva.gov.ua</a>
      </div>
    </div>
  </header>
</div>