<div class="bg-slate-700 flex w-full flex-col pt-11 pb-9 px-11 max-md:max-w-full max-md:px-5">
  <header>
    <div class="self-stretch flex w-full items-start justify-between gap-5 max-md:max-w-full max-md:flex-wrap max-md:justify-center">
      <div class="self-stretch flex items-stretch justify-between gap-5 max-md:max-w-full max-md:flex-wrap">
        <img loading="lazy" srcset="https://cdn.builder.io/api/v1/image/assets/TEMP/af1b7e15-0e6f-4094-959f-2715b05730f7?apiKey=e9239000d05a43d9bc982e742a020b90&width=100 100w, https://cdn.builder.io/api/v1/image/assets/TEMP/af1b7e15-0e6f-4094-959f-2715b05730f7?apiKey=e9239000d05a43d9bc982e742a020b90&width=200 200w, https://cdn.builder.io/api/v1/image/assets/TEMP/af1b7e15-0e6f-4094-959f-2715b05730f7?apiKey=e9239000d05a43d9bc982e742a020b90&width=400 400w, https://cdn.builder.io/api/v1/image/assets/TEMP/af1b7e15-0e6f-4094-959f-2715b05730f7?apiKey=e9239000d05a43d9bc982e742a020b90&width=800 800w, https://cdn.builder.io/api/v1/image/assets/TEMP/af1b7e15-0e6f-4094-959f-2715b05730f7?apiKey=e9239000d05a43d9bc982e742a020b90&width=1200 1200w, https://cdn.builder.io/api/v1/image/assets/TEMP/af1b7e15-0e6f-4094-959f-2715b05730f7?apiKey=e9239000d05a43d9bc982e742a020b90&width=1600 1600w, https://cdn.builder.io/api/v1/image/assets/TEMP/af1b7e15-0e6f-4094-959f-2715b05730f7?apiKey=e9239000d05a43d9bc982e742a020b90&width=2000 2000w, https://cdn.builder.io/api/v1/image/assets/TEMP/af1b7e15-0e6f-4094-959f-2715b05730f7?apiKey=e9239000d05a43d9bc982e742a020b90&"class="aspect-square object-contain object-center w-[82px] overflow-hidden shrink-0 max-w-full" alt="Logo" />
        <h1 class="text-white text-4xl font-medium leading-10 mt-2 self-start max-md:max-w-full">Міністерство у справах ветеранів України</h1>
      </div>
      <div class="flex gap-2 self-start">
        <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/33ba8f83-6b6c-4ff0-a588-2f79e4f3cad5?apiKey=e9239000d05a43d9bc982e742a020b90&" class="aspect-square object-contain object-center w-8 overflow-hidden shrink-0 max-w-full" alt="Accessibility Settings" />
        <div class="text-white text-lg leading-6 mt-2.5">Налаштування доступності</div>
      </div>
      <div class="flex items-stretch gap-2 self-start">
        <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/77dd1a78-3d40-4787-a22a-7e56d986a3a0?apiKey=e9239000d05a43d9bc982e742a020b90&" class="aspect-square object-contain object-center w-8 overflow-hidden shrink-0 max-w-full" alt="In English" />
        <div class="text-white text-lg leading-6 self-center whitespace-nowrap my-auto">In English</div>
      </div>
      <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/83b12f12-6b2d-440e-a79c-c412133722b3?apiKey=e9239000d05a43d9bc982e742a020b90&" class="aspect-[2.24] object-contain object-center w-[152px] justify-center items-start overflow-hidden shrink-0 max-w-full self-start" alt="Image" />
    </div>
  </header>
  <div class="flex w-[170px] max-w-full gap-2 mt-12 max-md:mt-10">
    <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/b95eb52c-e996-4045-884e-21f605e0998e?apiKey=e9239000d05a43d9bc982e742a020b90&" class="aspect-[1.06] object-contain object-center w-[18px] fill-white overflow-hidden shrink-0 max-w-full" alt="Search Icon" />
    <div class="text-white text-base leading-5 self-stretch whitespace-nowrap">Пошук по сайту</div>
  </div>
  <nav>
    <div class="items-stretch self-stretch flex justify-between gap-5 mt-16 max-md:max-w-full max-md:flex-wrap max-md:justify-center max-md:mt-10">
      <a href="#" class="text-white text-2xl leading-6">Про нас</a>
      <a href="#" class="text-white text-2xl leading-6">Ветеранам</a>
      <a href="#" class="text-white text-2xl leading-6">Громадськості</a>
      <a href="#" class="text-white text-2xl leading-6">e-Ветеран</a>
      <a href="#" class="text-white text-2xl leading-6">Територіальні відділи</a>
      <a href="#" class="text-white text-2xl leading-6">Пресцентр</a>
      <a href="#" class="text-white text-2xl leading-6">Ветеранський фонд</a>
      <a href="#" class="text-white text-2xl leading-6 whitespace-nowrap">Контакти</a>
    </div>
  </nav>
</div>